#about-card{
    background: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px #f4f4f4;
}
#item-card{
    display: grid;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    width: 300px;
    transition: all 0.5s;
}
#item-card:hover{
    transform: scale(1.05);

}
